<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuai.test"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestBroadcastActivity"
            android:label="@string/app_name" />
        <activity android:name=".location.TestLocationActivity" />
        <activity android:name=".layout.TestLayoutActivity" />
        <activity
            android:name=".touchevent.TestTouchActivity"
            android:label="@string/title_activity_test_touch" />
        <activity android:name=".dialog.TestDialogActivity" />
        <activity android:name=".launchmode.LauchModeNormalActivity" />
        <activity android:name=".launchmode.LauchModeSingleTaskActivity" />

        <service android:name=".tools.TopActivityMonitorService" />
        <service
            android:name=".tools.WindowChangeDetectingService"
            android:label="WindowChangeDetectingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.TestServiceActivity" />
        <activity android:name=".rxjava.TestRxJavaActivity"></activity>
        <activity android:name=".activity.TestScrollViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.TestAnimationActivity"></activity>
    </application>

</manifest>